In [2]:
# Python 3.9.13, maybe we can set up docker
import pandas as pd
df = pd.read_csv("Data/fm_player_data.csv")

In [3]:
# Remove double quotes
df.columns = df.columns.str.replace('"', '')
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Display the modified DataFrame
print(df)

<ipython-input-3-55775c8e3c7a>:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

      Unnamed: 0   player_id                 Name                        DoB  \
0              1     7458500         Lionel Messi   6/24/1987 (35 years old)
1              2    14157184  Alexis Mac Allister  12/24/1998 (24 years old)
2              3    48037335        Marcus Thuram    8/6/1997 (25 years old)
3              4      735216    Cristiano Ronaldo    2/5/1985 (38 years old)
4              5    55041632       Bernardo Silva   8/10/1994 (28 years old)
...          ...         ...                  ...                        ...
9967        9968    77063200      Jhamir D'Arrigo  11/15/1999 (23 years old)
9968        9969    77029252        Angelo Campos   4/27/1993 (30 years old)
9969        9970  2000097222     Lisandro VÃ¡squez   1/30/2003 (20 years old)
9970        9971    78047041        Gabriel Costa    4/2/1990 (33 years old)
9971        9972    77055658      Alejandro Ramos   9/13/1998 (24 years old)

             Position                 Club                   Division  \
0     AM (RC), ST (C)             Paris SG          Ligue 1 Uber Eats
1        DM, M/AM (C)             Brighton   English Premier Division
2      AM (L), ST (C)  Borussia M'gladbach                 Bundesliga
3              ST (C)       Al-Nassr (KSA)  Saudi Professional League
4           M/AM (RC)             Man City   English Premier Division
...               ...                  ...                        ...
9967  WB (L), AM (RL)               Melgar    Peruvian First Division
9968               GK              Alianza    Peruvian First Division
9969         M/AM (R)               Melgar    Peruvian First Division
9970         AM (RLC)              Alianza    Peruvian First Division
9971         D/WB (R)               Melgar    Peruvian First Division

     Nationality EU National Contract Start  ... Rushing out Tendency  \
0            ARG         Yes      8/10/2021  ...                    3
1            ARG          No     10/22/2022  ...                    4
2            FRA         Yes      6/14/2021  ...                    3
3            POR         Yes     12/31/2022  ...                    2
4            POR         Yes      6/14/2021  ...                    2
...          ...         ...            ...  ...                  ...
9967         PER          No      12/1/2022  ...                    2
9968         PER          No      3/23/2021  ...                   11
9969         PER          No      12/1/2022  ...                    3
9970         PER          No      12/1/2022  ...                    3
9971         PER          No     12/29/2020  ...                    2

     Reflexes Punching Tendency One on Ones Kicking Handling Eccentricity  \
0           1                 2           1       3        3            3
1           2                 1           1       3        1            2
2           3                 3           1       3        2            1
3           2                 2           2       1        1            2
4           2                 1           2       3        2            2
...       ...               ...         ...     ...      ...          ...
9967        2                 3           3       3        4            3
9968       15                12          13      12       13            8
9969        1                 3           3       1        2            1
9970        4                 3           3       4        3            3
9971        1                 2           1       2        3            2

     Communication Command of Area  Aerial Reach
0                3               3             3
1                2               1             1
2                2               1             1
3                1               4             3
4                1               3             2
...            ...             ...           ...
9967             3               3             1
9968            12              13            13
9969             1               1             2
9970             3               3             2
9971             2               3             1

[9972 rows x 81 columns]